{{!-- <div class="card">
  <div class="card-content">
    <a class="card-title" href="/regimen/{{id}}">
      {{ regimen }}
    </a>
  </div>
  <div class="card-action">
    <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
    <span class="tweet__date">{{ createdAt }}</span>
    {{!-- <span class="tweet_comments">{{ comments.length }} Comments</span> --}}
    {{!-- <form class="" action="/regimen/{{id}}?_method=DELETE" method="POST">
      <button type="submit" name="button">Delete</button>
    </form>
  </div>
</div> --}} --}}

{{this}}

{{!-- 
<div class="container create-regimen">
<section class="form-container">
  <form action="/regimen" method="post" class="form regimen-form">
      <h4>Building a Regimen</h4>

    <p class="input-field">
        <p><label for="regimenname">Name</label></p>
      <input type="text" name="regimenname" id="regimenname" placeholder="Regimen Name" maxlength="30">
    </p>

     <p class="input-field">
     <p><label for="txtDesc">Regimen Description</label></p>
<textarea name="txtDesc" id="txtDesc" cols="60" rows="10" placeholder="What is the purpose of this regimen? Length? Maintenence? Write a short description here."></textarea>
    </p>

    <p class="input-field">
              <p><label for="moisturizing">Moisturizing</label></p>
      <input type="text" id="moisturizing" name="moisturizing" placeholder="How do you keep your hair moisturized?" maxlength="30">
    </p>

     <fieldset>
       <p class="input-field">

       <legend>Detangling Methods</legend>
       
       <div>
    <input type="checkbox" id="comb" name="detangling" value="comb">
    <label for="comb">Comb</label>
  </div>

  <div>
    <input type="checkbox" id="brush" name="detangling" value="brush">
    <label for="brush">Brush</label>
  </div> 

    <div>
    <input type="checkbox" id="fingers" name="detangling" value="brush">
    <label for="fingers">Finger Detangling</label>
  </div>    

  </p>
     </fieldset>

     <fieldset>
       <p class="input-field">
                <legend>Washing Frequency</legend>

          <div>
            <input type="checkbox" id="day" name="washing" value="day">
            <label for="day">Daily</label>
          </div> 

          <div>
            <input type="checkbox" id="week" name="washing" value="week">
            <label for="week">Weekly</label>
          </div>   

          <div>
            <input type="checkbox" id="month" name="washing" value="month">
            <label for="month">Monthly</label>
          </div>

          <div>
            <input type="checkbox" id="nosched" name="washing" value="nosched">
            <label for="nosched">I wash whenever!</label>
          </div>


      </p>
     </fieldset>

      <p class="input-field">
        <p><label for="trimming">Trimming Routine</label></p>

      <input type="text" id="trimming" name="trimming" placeholder="How often do you trim?" maxlength="100">
    </p>

     <p class="input-field">
                     <p><label for="addNotes">Additional Notes</label></p>

<textarea name="addNotes" cols="60" id="addNotes" rows="10" placeholder="Add whatever else you can think of here."></textarea>
    </p>

   
    <p class="input-field">
      <input type="submit" value="Submit" class="btn waves-effect waves-light">
    </p>
  </form>
</section>
</div> --}}