<div class="card">
  <div class="card-content">
    <a class="card-title" href="/regimen/{{id}}">
      {{ content }}
    </a>
  </div>
  <div class="card-action">
    <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
    <span class="regimen__date">{{ createdAt }}</span>
  </div>
</div>