<p class="card">
  {{> 'regimen'}}
</p>

{{#if regimen.length}}
  {{#each regimen}}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ regimen }}
        </span>
      </div>
      <div class="card-action">
        <a href="/user/{{ user.id }}" class="">{{ user.local.email }}</a>
        <span class="regimen__date">{{ createdAt }}</span>
      </div>
    </div>
  {{/each}}
{{/if}}

{{!-- {{#if currentUser}}
<div class="card">
  <div class="card-content">
    <h4 class="card-title">Update Routine</h6>
    <form method="POST" action="/regimen/{{id}}?_method=PUT" class="row">
      <p class="input-field inline col s10">
        <label for="content"></label>
        <input type="text" name="content" id="">
      </p>
      <p class="input-field inline col s2">
        <input class="btn" type="submit" value="Submit">
      </p>
    </form>
  </div>
</div>
{{/if }} --}}