


 <!-- Page Layout here -->
    <div class="row container-fluid">

      <div class="col s3 m4 l3 s12 profile-container">
        <!-- Profile sidebar goes here -->

      <section class="profile">
  <img src="../../public/img/profile_pic.png" alt="Your profile picture" class="circle">
   <h2>{{user.local.username}}</h2>
     {{#if user.stats}}
    <div class="stats">
      {{#each user.stats}}
         {{> 'stat'}}
      {{/each}}
    </div>
     {{else}}
    <p>{{user.local.username}} hasn't set their stats yet</p>
     {{/if}}
      </section>

      </div>

      <div class="col s9 m8 l9 s12 regimen-container">
        <!-- Regimens collection goes here  -->
  {{#if user.regimen}}
    <div class="regimen">
      {{#each user.regimen}}
         {{> 'regimen'}}
      {{/each}}
    </div>
  {{else}}
    <p>{{user.local.username}} doesn't have any regimens yet...</p>
    <p>Let's change that</p>
  {{/if}}

    <nav>
      <div class="nav-wrapper">
          <ul>
          {{#if currentUser}}
            <li><a href="/user/profile/stats/new">adjust stats</a></li>
            <li><a href="/user/profile/regimen/new">+regimen</a></li>
            {{else}}
              <p>You must be logged in to make regimens and add stats</p>
              {{/if}}
              
              </ul>
              </div>
    </nav>

      </div>

    </div>